
.head {
    text-align: center;
}
* {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.img {
    height: 340px;
    width: auto;
}
.mid {
    text-align: center;
}